{% extends "website/base.html" %}
{% load addclass %}

{% block titleblock %}Rename Security Key{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-5 offset-lg-3 col-sm-12">
    <div class="card mt-3">
      <div class="card-body">
        <h1 class="card-title">Rename Security Key</h1>
        <hr />

        <form method="post" action="{% url 'mfa_edit_webauthn' pk=authenticator.pk %}">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field|addclass:"form-control" }}
            {% for error in field.errors %}
              <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
          </div>
          {% endfor %}
          <hr />
          <input class="form-control btn btn-outline-secondary" type="submit" value="Save" />
          <div class="text-center mt-2">
            <a href="{% url 'mfa_list_webauthn' %}">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
