{% autoescape off %}
To initiate the password reset process for your {{ user.get_username }} {{ site_name }} account,
click the link below:

{{ protocol }}://{{ domain }}{% url 'account_reset_password_from_key' uidb64=uid key=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

If you did not request a password reset, please disregard this notice. Whoever requested it
cannot follow through on resetting your password without access to this message.

Sincerely,
{{ site_name }} Management.
{% endautoescape %}