{% extends "website/base.html" %}
{% load i18n %}
{% load addclass allauth %}
{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}
{% block content %}
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Set Password</h1>
          <hr />

            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
              {% endfor %}
            {% endif %}
            {% url 'account_set_password' as action_url %}
            <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ redirect_field }}
                    {% for field in form %}
                    <div class="form-field my-3">
                        {{ field.label_tag }}
                        {{ field | addclass:"form-control" }}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <input class="form-control btn btn-outline-secondary" name="action" type="submit" value="Set Password"/>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}