{% extends "website/base.html" %}

{% block titleblock %}Deactivate Authenticator App{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-5 offset-lg-3 col-sm-12">
    <div class="card mt-3">
      <div class="card-body">
        <h1 class="card-title">Deactivate Authenticator App</h1>
        <hr />
        <div class="alert alert-warning" role="alert">
          You are about to deactivate two-factor authentication. Are you sure?
        </div>

        <form method="post" action="{% url 'mfa_deactivate_totp' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="form-group">
            <input class="form-control btn btn-outline-danger" type="submit" value="Deactivate" />
          </div>
        </form>

        <div class="text-center mt-2">
          <a href="{% url 'mfa_index' %}">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
