{% extends "website/base.html" %}

{% load i18n allauth %}

{% block titleblock %}{% trans "Manage Social Accounts" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 offset-lg-2 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Manage Social Accounts</h1>
          <hr />

            {% if form.accounts %}
                <p>
                    {% blocktrans %}You can sign in to your account using any of the following third-party accounts:{% endblocktrans %}
                </p>
                {% url 'socialaccount_connections' as action_url %}
                {% element form form=form method="post" action=action_url %}
                    {% slot body %}
                        {% csrf_token %}
                        {% for acc in form.fields.account.choices %}
                            {% with account=acc.0.instance.get_provider_account %}
                                {% setvar radio_id %}
                                    id_account_{{ account.account.pk }}
                                {% endsetvar %}
                                {% setvar tags %}
                                    socialaccount,{{ account.account.provider }}
                                {% endsetvar %}
                                {% element field id=radio_id type="radio" name="account" value=account.account.pk %}
                                    {% slot label %}
                                        {{ account }}
                                        {% element badge tags=tags %}
                                            {{ account.get_brand.name }}
                                        {% endelement %}
                                    {% endslot %}
                                {% endelement %}
                            {% endwith %}
                        {% endfor %}
                    {% endslot %}
                    {% slot actions %}
                        <input class="btn btn-outline-danger" type="submit" value="{% trans 'Remove' %}" />
                    {% endslot %}
                {% endelement %}
            {% else %}
                <p>{% trans 'You currently have no third-party accounts connected to this account.' %}</p>
            {% endif %}
            <div class="mt-3">
            <h5>
                {% trans 'Add a Third-Party Account' %}
            </h5>
            {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
            {% include "socialaccount/snippets/login_extra.html" %}
                </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}