{% extends "website/base.html" %}

{% block titleblock %}Link Expired{% endblock %}

{% block body %}
<div class="container main-content mt-4" id="main-copy">
  <div class="row">
    <div class="col-lg-5 offset-lg-3 col-sm-12">
      <div class="card mt-3">
        <div class="card-body text-center">
          <h1 class="card-title">Link Expired</h1>
          <hr />
          <p class="text-muted">This sign-in link has expired. Return to your terminal and type <strong>connect &lt;username&gt;</strong> to get a new code.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
