{% extends "website/base.html" %}

{% block titleblock %}Signed In{% endblock %}

{% block body %}
<div class="container main-content mt-4" id="main-copy">
  <div class="row">
    <div class="col-lg-5 offset-lg-3 col-sm-12">
      <div class="card mt-3">
        <div class="card-body text-center">
          <h1 class="card-title">You're signed in!</h1>
          <hr />
          <p class="text-muted">Return to your terminal — you should be logged in automatically.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
